* {
  margin: 0px;
  padding: 0;
  border: 0;
}
::-webkit-scrollbar {
  display: none;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

canvas {
  display: block;
}

h1 {
  border-bottom: 6px solid #424242;
  color: #424242;
  padding: 14px 30px;
  height: 25px;
}

h2 {
  color: #424242;
  padding: 20px 30px;
  height: 17px;
}

h3 {
  color: #424242;
  padding: 5px 30px;
  height: 14px;
  margin-left: 3%;
  margin-top: -10px;
}

.circular--landscape {
  display: inline-block;
  position: fixed;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 2%;
  margin-top: 2%;
  z-index: 1;
}
.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: 2px;
}

.topnav {
  display: inline-block;
  margin-top: 120px;
  position: fixed;
  background-color: rgb(91, 188, 214, 0.9);
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.topnav a {
  float: left;
  color: #424242;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a:first-child {
  margin-left: calc(250px + 2%);
}

.topnav a:hover {
  background-color: rgb(0, 160, 138);
  color: rgb(251, 250, 245);
  border-radius: 15px;
}

.topnav a.active {
  background-color: #424242;
  color: rgb(251, 250, 245);
  border-radius: 15px;
}

.sidebar {
  background-color: rgb(251, 250, 245, 0.8);
  border-radius: 20px;
  margin-left: 2%;
  margin-top: calc(4% + 200px);
  width: 200px;
  position: fixed;
  display: block;
}

.sidebar a {
  color: #424242;
  float: left;
  padding: 9px 12px;
  font-size: 12px;
  width: 100%;
  vertical-align: bottom;
  display: inline;
  white-space: nowrap;
}

.sidebar a:first-child {
  padding-top: 25px;
}

.sidebar2 {
  background-color: rgb(251, 250, 245, 0.8);
  border-radius: 20px;
  margin-left: 2%;
  margin-top: calc(8% + 325px);
  width: 200px;
  position: fixed;
  display: block;
}

.sidebar2 a {
  color: #424242;
  float: left;
  padding: 9px 12px;
  font-size: 12px;
  width: 100%;
  vertical-align: bottom;
  display: inline;
  white-space: nowrap;
}

.sidebar2 a:first-child {
  padding-top: 25px;
}


.box {
  max-height: calc(100vh-20px) !important;
  margin-top: 200px;
  overflow-y: scroll;
  position: absolute;
  display: grid;
  align-items: left;
  margin-left: calc(250px + 2%);
  top: 0;
  bottom: 0;
}

.centerbar {
  background-color: rgb(251, 250, 245, 0.8);
  border-radius: 20px;
  width: calc(4% + 600px);
  position: static;
}

.scrollFade {
	opacity: 1;
	pointer-events: all;
}

.scrollFade--hidden {
	opacity: 0;
	pointer-events: none;
}

.scrollFade--visible {
	opacity: 1;
	pointer-events: all;
}

.scrollFade--animate {
	transition: opacity 0.4s ease-in-out;
}

.centerAbout {
  height: 190px;
}

.centerEdu {
  margin-top: 30px;
  height: 400px;
}

.centerExp {
  margin-top: 30px;
}